######################
# Compiled binaries
*.elf
*.o
*.e
*.d
**/bin
**/ll
**/obj
**/asm

######################
# Emacs/vim/gedit backup files
*~
.#*
.*.swp
.*.swo

#######################
# Log files
*.log

#######################
# Misc.
.DS_Store

#######################
# Eclipse
.project
.cproject
